@font-face{
  font-family:Montserrat;
  font-style:normal;
  font-weight:400;
  src:url(../fonts/montserrat-v14-latin-regular.eot);
  src:local("Montserrat Regular"), local("Montserrat-Regular"), url(../fonts/montserrat-v14-latin-regular.eot?#iefix) format("embedded-opentype"), url(../fonts/montserrat-v14-latin-regular.woff2) format("woff2"), url(../fonts/montserrat-v14-latin-regular.woff) format("woff"), url(../fonts/montserrat-v14-latin-regular.ttf) format("truetype"), url(../fonts/montserrat-v14-latin-regular.svg#Montserrat) format("svg");
}
@font-face{
  font-family:Montserrat;
  font-style:normal;
  font-weight:600;
  src:url(../fonts/montserrat-v14-latin-600.eot);
  src:local("Montserrat SemiBold"), local("Montserrat-SemiBold"), url(../fonts/montserrat-v14-latin-600.eot?#iefix) format("embedded-opentype"), url(../fonts/montserrat-v14-latin-600.woff2) format("woff2"), url(../fonts/montserrat-v14-latin-600.woff) format("woff"), url(../fonts/montserrat-v14-latin-600.ttf) format("truetype"), url(../fonts/montserrat-v14-latin-600.svg#Montserrat) format("svg");
}
@font-face{
  font-family:Montserrat;
  font-style:normal;
  font-weight:700;
  src:url(../fonts/montserrat-v14-latin-700.eot);
  src:local("Montserrat Bold"), local("Montserrat-Bold"), url(../fonts/montserrat-v14-latin-700.eot?#iefix) format("embedded-opentype"), url(../fonts/montserrat-v14-latin-700.woff2) format("woff2"), url(../fonts/montserrat-v14-latin-700.woff) format("woff"), url(../fonts/montserrat-v14-latin-700.ttf) format("truetype"), url(../fonts/montserrat-v14-latin-700.svg#Montserrat) format("svg");
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
html{
  line-height:1.15;
  -webkit-text-size-adjust:100%;
}
body{
  margin:0;
}
main{
  display:block;
}
h1{
  font-size:2em;
  margin:.67em 0;
}
hr{
  -webkit-box-sizing:content-box;
          box-sizing:content-box;
  height:0;
  overflow:visible;
}
pre{
  font-family:monospace,monospace;
  font-size:1em;
}
a{
  background-color:transparent;
}
abbr[title]{
  border-bottom:none;
  text-decoration:underline;
  -webkit-text-decoration:underline dotted;
          text-decoration:underline dotted;
}
b,strong{
  font-weight:bolder;
}
code,kbd,samp{
  font-family:monospace,monospace;
  font-size:1em;
}
small{
  font-size:80%;
}
sub,sup{
  font-size:75%;
  line-height:0;
  position:relative;
  vertical-align:baseline;
}

sub{
  bottom:-.25em;
}

sup{
  top:-.5em;
}
img{
  border-style:none;
}
button,input,optgroup,select,textarea{
  font-family:inherit;
  font-size:100%;
  line-height:1.15;
  margin:0;
}
button,input{
  overflow:visible;
}
button,select{
  text-transform:none;
}
[type=button],[type=reset],[type=submit],button{
  -webkit-appearance:button;
}
[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{
  border-style:none;
  padding:0;
}
[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring{
  outline:1px dotted ButtonText;
}
fieldset{
  padding:.35em .75em .625em;
}
legend{
  -webkit-box-sizing:border-box;
          box-sizing:border-box;
  color:inherit;
  display:table;
  max-width:100%;
  padding:0;
  white-space:normal;
}
progress{
  vertical-align:baseline;
}
textarea{
  overflow:auto;
}
[type=checkbox],[type=radio]{
  -webkit-box-sizing:border-box;
          box-sizing:border-box;
  padding:0;
}
[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{
  height:auto;
}
[type=search]{
  -webkit-appearance:textfield;
  outline-offset:-2px;
}
[type=search]::-webkit-search-decoration{
  -webkit-appearance:none;
}
::-webkit-file-upload-button{
  -webkit-appearance:button;
  font:inherit;
}
details{
  display:block;
}
summary{
  display:list-item;
}
[hidden],template{
  display:none;
}

*,:after,:before{
  margin:0;
  padding:0;
  -webkit-box-sizing:border-box;
          box-sizing:border-box;
}

html{
  scroll-behavior:smooth;
}

body{
  font:14px/1.4 Montserrat,sans-serif;
}

a{
  text-decoration:none;
  color:#000;
}

img{
  width:100%;
  height:auto;
}

h1,h2,h3{
  margin:0;
}

.container{
  max-width:1366px;
  margin:0 auto;
  padding:0 15px;
}

.section__title{
  font-weight:400;
  font-size:36px;
  line-height:23px;
  text-align:center;
}

.section__title .colored{
  color:#58a303;
  font-weight:700;
}

@media screen and (max-width:860px){
  .section__title{
    font-size:18px;
    line-height:23px;
  }
}

.header__inner{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-pack:justify;
      -ms-flex-pack:justify;
          justify-content:space-between;
  -webkit-box-align:center;
      -ms-flex-align:center;
          align-items:center;
}

.header__logo{
  display:inline-block;
  width:187px;
  height:102px;
}

.navigation ul{
  list-style-type:none;
}

.navigation li{
  display:inline-block;
  margin-left:50px;
  position:relative;
}

.navigation li:first-child{
  margin-left:0;
}

.navigation li.active{
  font-weight:700;
}

.navigation li.active:after{
  content:"";
  position:absolute;
  display:block;
  z-index:-1;
  bottom:10px;
  left:0;
  width:100%;
  height:11px;
  background-color:rgba(192, 140, 77, .5);
}

.navigation li a{
  display:inline-block;
  font-size:18px;
  line-height:22px;
  padding:10px;
}

@media screen and (max-width:690px){
  .header__inner{
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
        -ms-flex-direction:column;
            flex-direction:column;
  }
  .navigation li{
    margin-left:0;
  }
}

.banner{
  margin-top:14px;
}

.banner__inner{
  background-size:cover;
  background-position:50%;
  height:408px;
  padding:104px 0 229px 70px;
}

.banner__text{
  color:#fff;
}

.banner__text h1,.banner__text h3{
  font-size:36px;
  line-height:23px;
  margin:0;
}

.banner__text h1{
  font-weight:600;
  margin-bottom:29px;
}

.banner__text h3{
  font-weight:400;
}

.banner__text .bold{
  display:inline-block;
  padding:0 3px;
  font-weight:700;
  position:relative;
  z-index:1;
}

.banner__text .bold:after{
  content:"";
  display:block;
  background-color:#c08c4d;
  top:7px;
  left:0;
  width:100%;
  height:36px;
  position:absolute;
  z-index:-1;
}

@media screen and (max-width:690px){
  .banner .container{
    padding-left:0;
    padding-right:0;
  }
  .banner__inner{
    height:auto;
    padding-top:137px;
    padding-bottom:35px;
  }
}

.top__text{
  margin-top:38px;
  margin-bottom:70px;
}

.top__text h1{
  margin:0 0 25px;
  font-weight:600;
  font-size:36px;
  line-height:44px;
  text-align:center;
}

.top__text p{
  display:block;
  max-width:1126px;
  margin:0 auto;
  font-weight:400;
  font-size:18px;
  line-height:32px;
  text-align:center;
}

.top__text .colored{
  color:#c08c4d;
}

@media screen and (max-width:690px){
  .top__text{
    margin-bottom:32px;
  }
  .top__text h1{
    font-size:18px;
    line-height:22px;
    margin-bottom:8px;
  }
  .top__text p{
    font-size:13px;
    line-height:23px;
  }
}

.choice .section__title{
  margin:0 0 88px;
}

.choice__content{
  max-width:1197px;
  margin:0 auto;
  padding:0 15px;
}

.choice__item{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-pack:justify;
      -ms-flex-pack:justify;
          justify-content:space-between;
  margin-bottom:64px;
}

.choice__item-image{
  -webkit-box-flex:1;
      -ms-flex:1 460px;
          flex:1 460px;
  -ms-flex-negative:0;
      flex-shrink:0;
  position:relative;
  z-index:1;
}

.choice__item-image img{
  z-index:1;
}

.choice__item-image:after{
  content:"";
  position:absolute;
  display:block;
  width:450px;
  height:241px;
  background-color:#c08c4d;
  left:-10px;
  top:136px;
  z-index:-1;
}

.choice__item-data{
  width:100%;
  font-weight:600;
  font-size:18px;
  line-height:23px;
  margin-left:56px;
}

.choice__item-data h3{
  margin-bottom:13px;
}

.choice__item-data p{
  font-weight:400;
  font-size:16px;
  margin-bottom:30px;
}

.choice__item-data p:last-child{
  margin-bottom:0;
}

.choice__item:nth-child(2n) .choice__item-image{
  -webkit-box-ordinal-group:3;
      -ms-flex-order:2;
          order:2;
}

.choice__item:nth-child(2n) .choice__item-image:after{
  left:auto;
  right:-10px;
}

.choice__item:nth-child(2n) .choice__item-data{
  margin-left:0;
  margin-right:56px;
}

@media screen and (max-width:860px){
  .choice .section__title{
    max-width:190px;
    margin:0 auto 31px;
  }
  .choice__content{
    padding:0 15px;
  }
  .choice__item{
    display:block;
  }
  .choice__item,.choice__item:last-child .choice__item-image{
    margin-bottom:0;
  }
  .choice__item-image{
    -webkit-box-ordinal-group:3;
        -ms-flex-order:2;
            order:2;
    margin-bottom:40px;
    margin-top:26px;
  }
  .choice__item-data{
    -webkit-box-ordinal-group:2;
        -ms-flex-order:1;
            order:1;
    font-weight:600;
    font-size:13px;
    line-height:23px;
  }
  .choice__item-image:after{
    display:none;
  }
  .choice__item-data{
    margin-left:0;
  }
}

.offers .section__title{
  margin-bottom:83px;
}

.offers .offers__content{
  max-width:1236px;
  margin:0 auto;
}

.tabs{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
}

.tabs__tab{
  -webkit-box-flex:1;
      -ms-flex:1 100%;
          flex:1 100%;
  padding:33px 35px;
  border:2px solid #c08c4d;
}

.tabs__tab:not(.tabs__active){
  display:none;
}

.tabs__nav{
  width:300px;
  -ms-flex-negative:0;
      flex-shrink:0;
}

.tabs__nav div{
  cursor:pointer;
}

.tabs__nav-item{
  padding:11px 21px 12px 23px;
  font-weight:400;
  font-size:16px;
  line-height:22px;
  color:#000;
  height:67px;
  background-color:#f7f7f7;
}

.tabs__nav-item .bold{
  font-weight:700;
}

.tabs__nav .tabs__active{
  background-color:#c08c4d;
  color:#fff;
}

.tabs__content{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -ms-flex-wrap:wrap;
      flex-wrap:wrap;
}

.tabs__image{
  width:269px;
  margin-right:15px;
  margin-bottom:17px;
}

.tabs__image p{
  text-align:center;
  font-size:14px;
  line-height:23px;
  font-weight:700;
}

@media screen and (max-width:690px){
  .offers{
    margin-top:56px;
  }
  .offers .section__title{
    margin-bottom:56px;
  }
  .tabs{
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
        -ms-flex-direction:column;
            flex-direction:column;
    padding:0 30px;
  }
  .tabs__nav,.tabs__nav-item{
    width:100%;
  }
  .tabs__tab{
    border:none;
    padding:0;
  }
  .tabs__image{
    width:100%;
    margin:0 0 29px;
  }
  .tabs__image:last-child{
    margin-bottom:0;
  }
}

.contacts{
  margin-top:94px;
}

.contacts .section__title{
  margin-bottom:118px;
}

.contacts__content{
  max-width:1236px;
  margin:0 auto;
}

.contacts__inner{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
}

.contacts__item{
  -webkit-box-flex:1;
      -ms-flex:1 25%;
          flex:1 25%;
  background-color:#000;
  position:relative;
  padding:58px 24px 41px 23px;
}

.contacts__item .icon{
  position:absolute;
  display:block;
  padding:20px;
  width:77px;
  height:77px;
  top:0;
  left:23px;
  -webkit-transform:translateY(-50%);
          transform:translateY(-50%);
  background-color:#c08c4d;
}

.contacts__item.mail .contacts__item-text,.contacts__item.phone .contacts__item-text{
  display:block;
}

.contacts__item.mail .contacts__item-text h3,.contacts__item.phone .contacts__item-text h3{
  margin-bottom:20px;
}

.contacts__item.mail .contacts__item-text p,.contacts__item.phone .contacts__item-text p{
  font-weight:700;
}

.contacts__item:nth-child(odd){
  background-color:#c08c4d;
}

.contacts__item:nth-child(odd) .icon{
  background-color:#000;
}

.contacts__item-text{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
      -ms-flex-direction:column;
          flex-direction:column;
  -webkit-box-pack:justify;
      -ms-flex-pack:justify;
          justify-content:space-between;
  color:#fff;
  font-weight:700;
  font-size:14px;
  line-height:29px;
  height:175px;
}

.contacts__item-text .bold{
  font-weight:700;
}

.contacts__item-text a{
  color:#fff;
}

.contacts__item-text h3{
  font-size:15px;
}

.contacts__item-text p{
  font-weight:400;
}

@media screen and (max-width:690px){
  .contacts{
    margin-top:37px;
  }
  .contacts .section__title{
    margin-bottom:32px;
  }
  .contacts .phone{
    min-height:111px;
  }
  .contacts .mail{
    min-height:114px;
  }
  .contacts__inner{
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
        -ms-flex-direction:column;
            flex-direction:column;
    text-align:center;
  }
  .contacts__item{
    -webkit-box-flex:0;
        -ms-flex-positive:0;
            flex-grow:0;
    -ms-flex-preferred-size:auto;
        flex-basis:auto;
    padding-top:15px;
    padding-bottom:15px;
  }
  .contacts__item div:last-child{
    margin-top:20px;
  }
  .contacts__item .icon{
    display:none;
  }
  .contacts__item-text{
    height:auto;
  }
}

.bottom__text{
  margin-top:43px;
}

.bottom__text-content{
  max-width:1236px;
  margin:0 auto;
  font-weight:700;
  font-size:18px;
  line-height:23px;
}

.bottom__text-content h3{
  margin-bottom:15px;
}

.bottom__text-content p{
  font-weight:400;
  font-size:14px;
  margin-bottom:20px;
}

.bottom__text-content p:last-child{
  margin-bottom:0;
}

.footer{
  color:#c8c8c8;
  margin-top:40px;
  margin-bottom:34px;
}

.footer__content{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-pack:justify;
      -ms-flex-pack:justify;
          justify-content:space-between;
  max-width:1236px;
  margin:0 auto;
  font-weight:700;
  line-height:28px;
  padding:12px 0;
  border-top:1px solid #c8c8c8;
}

.footer__content,.footer__content h1{
  font-size:18px;
}

.footer__content p{
  font-weight:400;
}

.footer__content>p{
  font-weight:700;
}

@media screen and (max-width:690px){
  .footer__content{
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
        -ms-flex-direction:column;
            flex-direction:column;
    text-align:center;
  }
  .footer__content>p{
    margin-top:15px;
  }
}
